{% extends "base.html" %}

{%- block title -%}
{{ config.title }}: How-To: {{ page.title }}
{%- endblock title -%}

{% block content %}
<p class="post-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></p>
{%- if not page.extra.no_date -%}
<p class="post-date">{{ page.date | date(format="%Y %B %e") }}</p>
{%- endif -%}
{{ page.content | safe }}

<div class="prev-next-pages">
  <p><em>Questions or comments? For better or worse this website isn’t interactive, so
      <a href="mailto:pwilliams@cfa.harvard.edu">send me an email</a> or, uh, <a
        href="https://mastodon.world/@pkgw">Toot
        me</a>.</em></p>

  <p><em>To get notified of new posts, try subscribing to my
      <a target="_blank" href="https://buttondown.email/pkgw">lightweight
        newsletter</a> or
      <a href='{{ get_url(path="", trailing_slash=true) | safe }}rss.xml'>my
        RSS/Atom feed</a>. No thirsty influencering — you get alerts about what
      I’m writing; I get warm fuzzies from knowing that someone’s
      reading!</em></p>

  <p><em>See <a href='{{ macros::section_url(name="howto") }}'>a list of all how-to guides</a>.</em></p>

  <p><em>On GitHub you
      can <a href="{{config.extra.github_base}}/edit/master/content/{{page.relative_path}}">propose
        a revision to this guide</a>
      or <a href="{{config.extra.github_base}}/commits/master/content/{{page.relative_path}}">view
        its revision history</a>.</em></p>
</div>

{% endblock content %}