{% extends "base.html" %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" title="PKGW: Feed" href='{{ get_url(path="rss.xml") | safe }}' />

<script type="text/javascript" src='{{ get_url(path="emulate_wp_redirect.js") | safe }}' defer></script>
{% endblock extra_head %}

{% block content %}

<p><i>“Technology is neither good nor bad; nor is it neutral.”<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;—
    <a rel="noopener" target="_blank"
      href="https://en.wikipedia.org/wiki/Melvin_Kranzberg#Kranzberg's_laws_of_technology">Kranzberg’s
      First Law</a></i>
</p>

<p class="lede">I’m a researcher at the
  <a rel="noopener" target="_blank" href="https://cfa.harvard.edu/">Center for
    Astrophysics | Harvard &amp; Smithsonian</a>. I spend most of my time
  designing and building astrophysical data systems. Underpinning this work is
  my preoccupation with all of the ways that computers <i>could</i>
  be revolutionizing science and society — but aren’t yet.
</p>

<p>Contact me
  <a href="https://mastodon.world/@pkgw">on Mastodon as @pkgw@mastodon.world</a>
  or over email at <a href="mailto:peter@newton.cx">peter@newton.cx</a>.
  Find out more on my
  <a href='{{macros::page_url(path="about-me/index.md")}}'>About Me</a> page, or
  by subscribing to my lightweight newsletter — I use it to send out links to
  the posts that I write here on this website:
</p>

<form action="https://buttondown.email/api/emails/embed-subscribe/pkgw" method="post" target="popupwindow"
  onsubmit="window.open('https://buttondown.email/pkgw', 'popupwindow')" class="subscribe">
  <label for="bd-email">Enter your email:</label>
  <input type="email" name="email" id="bd-email" />

  <input type="submit" value="Subscribe" />
</form>

<p>You can also cut out the middleman and add <a href="rss.xml">my RSS/Atom
    feed</a> to your preferred newsreader.</p>

{% set latest_section = get_section(path="2024/_index.md") %}
{% for post in latest_section.pages | slice(end=5) %}
{% if loop.first %}

<hr>
<p class="index-small-divider">Latest post:</p>

<p class="post-title"><a href="{{ post.permalink | safe }}">{{ post.title }}</a></p>
<p class="post-date">{{ post.date | date(format="%Y %B %e") }}</p>

{% if post.summary | length > 0 %}
{{ post.summary | safe }}
<p class="read-more"><a href="{{ post.permalink | safe }}">Read more …</a></p>
{% else %}
{{ post.content | safe }}
{% endif %}

<hr>
<p class="index-small-divider">Recently:</p>
<table>
  {% else %}
  <tr>
    <td class="recent-post-date">{{ post.date | date(format="%Y %B %e") }}</td>
    <td class="recent-post-title"><a href="{{ post.permalink | safe }}">{{ post.title }}</a></td>
  </tr>
  {% endif %}
  {% endfor %}
</table>

{% endblock content %}