{% extends "base.html" %}

{%- block title -%}
{{ config.title }}: {{ page.title }}
{%- endblock title -%}

{% block content %}
<p class="post-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></p>
{%- if not page.extra.no_date -%}
<p class="post-date">{{ page.date | date(format="%Y %B %e") }}</p>
{%- endif -%}
{{ page.content | safe }}

<div class="prev-next-pages">
  <p><em>Questions or comments? For better or worse this website isn’t interactive, so
      <a href="mailto:pwilliams@cfa.harvard.edu">send me an email</a> or, uh, <a
        href="https://mastodon.world/@pkgw">Toot
        me</a>.</em></p>

  {%- if page.lower -%}
  <p><em>Later:</em> <a href="{{ page.lower.permalink | safe }}">{{ page.lower.title }}</a></p>
  {%- endif -%}

  {%- if page.higher -%}
  <p><em>Earlier:</em> <a href="{{ page.higher.permalink | safe }}">{{ page.higher.title }}</a></p>
  {%- endif -%}

  {% set allposts = get_page(path="all-posts.md") %}
  <p><em>See <a href="{{ allposts.permalink | safe }}">a list of all posts</a>.</em></p>

  <p><em><a href="{{config.extra.github_base}}/commits/master/content/{{page.relative_path}}">View
        the revision history</a> of this page.</em></p>
</div>

{% endblock content %}